@model IW7PP.ViewModel.ProsthesisVM

@{
    ViewData["Title"] = "Create Prosthesis";
}

<h2>Create Prosthesis</h2>

<form asp-action="CreateProsthesis" method="post">
    <div class="form-group">
        <label for="prosthesisType">Tipo de Prótesis</label>
        <select id="prosthesisType" class="form-control">
            <option value="">Seleccionar Tipo</option>
            <option value="Upper">Upper</option>
            <option value="Lower">Lower</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SocketId">Socket</label>
        <select asp-for="SocketId" class="form-control" id="socketDropdown">
            <option value="">Seleccionar Socket</option>
        </select>
    </div>

    <div class="form-group">
        <label for="TubeId">Tube</label>
        <select asp-for="TubeId" class="form-control" id="tubeDropdown">
            <option value="">Seleccionar Tube</option>
        </select>
    </div>

    <div class="form-group">
        <label for="UnionSocketId">Union Socket</label>
        <select asp-for="UnionSocketId" class="form-control" id="unionSocketDropdown">
            <option value="">Seleccionar Union Socket</option>
        </select>
    </div>

    <div class="form-group">
        <label for="KneeArticulateId">Knee Articulate</label>
        <select asp-for="KneeArticulateId" class="form-control" id="kneeDropdown">
            <option value="">Seleccionar Knee Articulate</option>
        </select>
    </div>

    <div class="form-group">
        <label for="FootId">Foot</label>
        <select asp-for="FootId" class="form-control" id="footDropdown">
            <option value="">Seleccionar Foot</option>
        </select>
    </div>

    <div class="form-group">
        <label for="LinerId">Liner</label>
        <select asp-for="LinerId" class="form-control" id="linerDropdown">
            <option value="">Seleccionar Liner</option>
        </select>
    </div>

    <div class="form-group">
        <label for="UpperLimbAmputationsiD">Upper Limb Amputation</label>
        <select asp-for="UpperLimbAmputationsiD" class="form-control" id="upperLimbAmputationDropdown" disabled>
            <option value="">No aplica</option>
        </select>
    </div>

    <div class="form-group">
        <label for="LowerLimbAmputationsiD">Lower Limb Amputation</label>
        <select asp-for="LowerLimbAmputationsiD" class="form-control" id="lowerLimbAmputationDropdown" disabled>
            <option value="">No aplica</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="FechaRegistro" class="control-label"></label>
        <input asp-for="FechaRegistro" class="form-control" readonly />
        <span asp-validation-for="FechaRegistro" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#prosthesisType').change(function () {
                var prosthesisType = $(this).val();

                if (prosthesisType === "Upper") {
                    $('#lowerLimbAmputationDropdown').val('').attr('disabled', true);
                    $('#upperLimbAmputationDropdown').attr('disabled', false);
                } else if (prosthesisType === "Lower") {
                    $('#upperLimbAmputationDropdown').val('').attr('disabled', true);
                    $('#lowerLimbAmputationDropdown').attr('disabled', false);
                } else {
                    clearDropdowns();
                    $('#lowerLimbAmputationDropdown').val('').attr('disabled', true);
                    $('#upperLimbAmputationDropdown').val('').attr('disabled', true);
                }

                $.ajax({
                    url: '@Url.Action("GetAllMaterials")',
                    type: 'GET',
                    success: function (data) {
                        console.log(data); // Para depuración, ver en la consola los datos recibidos

                        clearDropdowns();

                        // Populate dropdowns with new data
                        populateDropdown('#socketDropdown', data.sockets, 'id', 'description');
                        populateDropdown('#linerDropdown', data.liners, 'id', 'name');
                        populateDropdown('#tubeDropdown', data.tubes, 'id', 'name');
                        populateDropdown('#kneeDropdown', data.knees, 'id', 'name');
                        populateDropdown('#footDropdown', data.feet, 'id', 'name');
                        populateDropdown('#unionSocketDropdown', data.unionSockets, 'id', 'name');
                        if (prosthesisType !== "Upper") {
                            populateDropdown('#lowerLimbAmputationDropdown', data.lowerLimbAmputations, 'id', 'amputationName');
                        }
                        if (prosthesisType !== "Lower") {
                            populateDropdown('#upperLimbAmputationDropdown', data.upperLimbAmputations, 'id', 'amputationName');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while loading the data: " + error);
                    }
                });
            });

            function clearDropdowns() {
                $('#socketDropdown').empty().append('<option value="">Seleccionar Socket</option>');
                $('#linerDropdown').empty().append('<option value="">Seleccionar Liner</option>');
                $('#tubeDropdown').empty().append('<option value="">Seleccionar Tube</option>');
                $('#kneeDropdown').empty().append('<option value="">Seleccionar Knee Articulate</option>');
                $('#footDropdown').empty().append('<option value="">Seleccionar Foot</option>');
                $('#unionSocketDropdown').empty().append('<option value="">Seleccionar Union Socket</option>');
                $('#upperLimbAmputationDropdown').empty().append('<option value="">No aplica</option>');
                $('#lowerLimbAmputationDropdown').empty().append('<option value="">No aplica</option>');
            }

            function populateDropdown(selector, data, valueField, textField) {
                if (data && data.length > 0) {
                    $.each(data, function (index, item) {
                        $(selector).append($('<option>', { value: item[valueField], text: item[textField] }));
                    });
                }
            }
        });
    </script>
}
