@model IW7PP.Models.Amputations.UpperLimbAmputation

@{
    ViewData["Title"] = "Crear nueva amputación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Crear Nueva Amputación</h3>
                    <form asp-controller="Amputations" asp-action="CreateAlp" method="post">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="form-group mt-4">
                            <label asp-for="AmputationName" class="control-label"></label>
                            <input asp-for="AmputationName" class="form-control" placeholder="Ingresa el nombre de la amputación" />
                            <span asp-validation-for="AmputationName" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg w-75">Crear Amputación <i class="bi bi-arrow-right-circle-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
