@model IW7PP.ViewModel.LoginVM

@{
    ViewData["Title"] = "Inicia Sesión";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - IW7PP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
            <div class="card-body">
                <h2 class="card-title text-center">Inicia Sesión</h2>
                <form asp-controller="Users" asp-action="Login">
                    <div class="form-group mb-3">
                        <label for="UserName">Ingresa tú número de cédula:</label>
                        <input type="text" class="form-control" id="UserName" asp-for="UserName" required />
                    </div>
                    <div class="form-group mb-3">
                        <label for="Password">Contraseña:</label>
                        <input type="password" class="form-control" id="Password" asp-for="Password" required />
                    </div>
                    <div class="form-group mb-3">
                        <input type="submit" class="btn btn-primary w-100" value="Iniciar Sesión" />
                    </div>
                    <div class="form-group text-center">
                        <a asp-controller="Users" asp-action="Registro">¿No tienes una cuenta? Regístrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
