@model IW7PP.ViewModel.RegistroVM

@{
    ViewData["Title"] = "Registro";
}

<div class="d-flex justify-content-center align-items-center mt-5 pt-5 mb-5 pb-5>
    <div class="card shadow-sm" style="max-width: 500px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-center">Registro</h2>
            <form asp-controller="Users" asp-action="Registro" method="post">
                <div class="form-group mb-3">
                    <label for="Name">Nombre:</label>
                    <input type="text" class="form-control" id="Name" asp-for="Name" required />
                </div>
                <div class="form-group mb-3">
                    <label for="LastName">Apellido:</label>
                    <input type="text" class="form-control" id="LastName" asp-for="LastName" required />
                </div>
                <div class="form-group mb-3">
                    <label for="UserName">Número de cédula:</label>
                    <input type="text" class="form-control" id="UserName" asp-for="UserName" required />
                </div>
                <div class="form-group mb-3">
                    <label for="PhoneNumber">Número de Teléfono:</label>
                    <input type="text" class="form-control" id="PhoneNumber" asp-for="PhoneNumber" required />
                </div>
                <div class="form-group mb-3">
                    <label for="Email">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="Email" asp-for="Email" required />
                </div>
                <div class="form-group mb-3">
                    <label for="Password">Contraseña:</label>
                    <input type="password" class="form-control" id="Password" asp-for="Password" required />
                </div>
                <div class="form-group mb-3">
                    <label for="ConfirmPassword">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword" required />
                </div>
                <div class="form-group mb-3">
                    <input type="submit" class="btn btn-primary w-100" value="Registrarse" />
                </div>
                <div class="form-group text-center">
                    <a asp-controller="Users" asp-action="Login">¿Ya tienes una cuenta? Inicia sesión</a>
                </div>
                @if (ViewData["Mensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                }
            </form>
        </div>
    </div>
</div>
